<!doctype html>
<html th:fragment="layout (template, menu)">
<head>
    <title>Ximedes AoC Leaderboard</title>
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" th:href="@{/stylesheets/main.css(v=${releaseVersion})}" />
    <meta http-equiv="refresh" content="360">
</head>

<body>
    <div th:replace="${template}"/>

    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/jquery-ui/jquery-ui.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
